    {{#each theList}}
<div>
League:     {{this.league}}<br><br>
Name:       {{this.name}}<br><br>
Position:   {{this.position}}<br><br>
University: {{this.university}}<br><br>
PPG:        {{this.points}}<br><br>
RPG:        {{this.rebounds}}<br><br>
APG         {{this.assists}}<br><br>
TO:         {{this.turnovers}}<br><br>
BPG:        {{this.blocks}}<br><br>
STL:        {{this.steals}}<br><br>
FG%:        {{this.fieldGoalPercentage}}<br><br>
3PT%        {{this.threePointPercentage}}<br><br>
FT%:        {{this.freeThrowPercentage}}<br><br>
<br><br><br>
</div>
{{/each}}