    {{#each theList}}
<div>
Name:           {{this.name}}<br><br>
Age:            {{this.age}}<br><br>
Gender:         {{this.gender}}<br><br>
Blood Glucose:  {{this.bloodGlucose}}<br><br>
Insulin:        {{this.insulin}}<br><br>
<br><br><br>
</div>
{{/each}}